/*
    Created on : 19/08/2021, 09:23:54
    Author     : drymnz
*/
* {
    --color-cafe-claro:#F9EAC9;
    --color-cafe-oscuro:#3F0A00;
    --color-cafe-amarillo:#D0CE7C;
    margin: 0;
    padding: 0;
    border: 0; 
}

body {
    background-color: var(--color-cafe-claro); }

#logotipo, footer {
    background-color:var(--color-cafe-oscuro) ;
    padding: 20px;
    color: var(--color-cafe-claro); }

h2 {
    text-align: center; }

.izquierdaFormulario, #imagenDerecha {
    width: 50%;
    float: left; }

input {
    display: block;
    margin: 25px 5%;
    padding: 25px 0;
    width: 90%;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5); }

input[type="submit"] {
    background: var(--color-cafe-amarillo);
    opacity: 0.8;
    cursor: pointer; }

input[type="submit"]:hover {
    opacity: 0.95; }

input[type="password"]:focus {
    text-align: center; }

input[type="submit"]:active {
    transform: scale(0.95); }

#imagenDerecha {
    height: 500px;
    background: url(../picture/imagenDerecha.jpg) right no-repeat;
    background-size: cover; }

footer {
    padding-bottom: 100px;
    clear: both;
}

#footer-content {
    text-align: center; }

label {
    margin: 2% 5%; 
}

@media (max-width: 768px) {
    label, h1, h2, h3 {
        font-size: 60px;
        height: 50px; 
    }

    .izquierdaFormulario {
        width: 100%; 
    }

    #imagenDerecha {
        height: 0; 
    } 
}
@media (max-width: 480px) {
    h2, label {
        font-size: 100px; 
    }
    #imagenDerecha {
        height: 0; 
    }
}

